@font-face {
  font-family: Vazir FD;
  src: url('Vazir-Regular-FD.eot');
  src: url('Vazir-Regular-FD.eot?#iefix') format('embedded-opentype'),
       url('Vazir-Regular-FD.woff2') format('woff2'),
       url('Vazir-Regular-FD.woff') format('woff'),
       url('Vazir-Regular-FD.ttf') format('truetype');
  font-weight: normal;
  font-display:swap;
}
